#shortcuts {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  margin: 0 0 20px;
  padding: 5px 0 0;
}

#shortcuts.application {
  background-color: #ddd;
  border-color: #ccc;
}

#shortcuts dl {
  display: block;
  margin: 0 auto;
}

#shortcuts dt,
#shortcuts dd {
  display: inline-block;
  margin-bottom: 5px;
}

#shortcuts ol {
  margin: 0;
  padding: 0;
}

#shortcuts li {
  display: inline-block;
  margin-right: 10px;
}
